:root {
    background-color: #f6f6f7;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

html,
body {
    overscroll-behavior-x: none;
    overflow-y: hidden;
}
